/* You can add global styles to this file, and also import other style files */
@import './app/styles/variables.scss';

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  &:hover {
    cursor: pointer;
  }
}